@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border p-0 m-0;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs;
  }

  body {
    @apply font-[zenkaku];
  }

  @font-face {
    font-family: "zenkaku";
    src: url("./assets/fonts/ZenKakuGothicAntique-Regular.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "inter";
    src: url("./assets/fonts/Inter.ttf") format("truetype");
  }

  body {
    @apply bg-gray;
  }
}

@layer components {
  /* for more complex use */
  .flex-center {
    @apply flex justify-center items-center;
  }

  .login-background {
    @apply relative z-0 bg-[url('/src/assets/images/bg-img.svg')] bg-cover bg-center;
  }

  .floating-label {
    @apply group-focus-within:top-0 group-focus-within:text-[13px] group-focus-within:text-[rgba(66,66,66)] text-[rgb(117,117,117)]  cursor-text font-normal px-[10px] bg-white flex justify-center items-center absolute top-1/2 -translate-y-1/2 left-3 text-base;
  }

  /*active state controller*/
  .custom-dots li.slick-active div {
    @apply bg-white w-12 h-[5px];
  }

  /* for not reusing same style for header items*/
  .header-items {
    @apply rounded-full bg-gray flex-center h-[50px];
  }

  .active-nav-item {
    @apply text-primary-light after:content-[''] relative after:absolute after:left-0 after:bg-primary-light after:w-[6px] after:h-full after:rounded-tr-[10px] after:rounded-br-[10px] after:top-1/2 after:-translate-y-1/2;
  }
}
